/* LANDING-PAGE */
.content_main {
  background: var(--background-color);
  height: 90vh;
  padding: 70px 50px;
  overflow: hidden;
}

#demo {
  height: 100%;
  overflow: hidden;
}
.warpperHome #demo {
  animation-name: navLinks;
  animation-duration: 12s;
}

.carousel-item {
  height: 90vh;
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.wrapperLine {
  position: absolute;
  width: 0%;
  height: 1px;
  background: var(--color-brown);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: wrapperLine;
  animation-duration: 4s;
}
/* .wrapperLine::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 20px;
    background: var(--color-brown);
    left: 0;    
    top: -9px;
    
}
.wrapperLine::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background: var(--color-brown);
    right: 0;    
    top: -9px;    
    
} */
.warpperHome {
  animation-name: wrapperAnimate;
  animation-duration: 8s;
}

.one {
  animation-name: navLinks;
  animation-duration: 12s;
}

.two {
  animation-name: navLinks;
  animation-duration: 13s;
}

.three {
  animation-name: navLinks;
  animation-duration: 14s;
}

.four {
  animation-name: navLinks;
  animation-duration: 15s;
}

@keyframes wrapperAnimate {
  0% {
    height: 1px;
    opacity: 1;
  }

  50% {
    height: 1px;
    opacity: 1;
  }

  100% {
    height: 90vh;
    opacity: 1;
  }
}

@keyframes wrapperLine {
  0% {
    width: 0%;
    z-index: 9;
  }

  30% {
    width: 0%;
    z-index: 9;
  }

  100% {
    width: 100%;
    z-index: 9;
  }
}

@keyframes navLinks {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* END LANDING-PAGE */
