
.project_detials li {
    background-color: transparent;
    padding-left: 0;
    border-bottom: 1px solid var(--color-dark) !important;
    padding: 0;
}

.project_detials li a {
    position: relative;
    color: var(--color-dark);
    padding-left: 0;
    line-height: 28xp;
}

.project_detials li a.active::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--color-dark);
    left: -40px;
    bottom: 16px;
}

table tr:first-child td {
    border-top: 0;
}

table td {
    border: 1px solid var(--color-dark);
    border-left: 0;
    border-right: 0;
}