:root {
  --font-family-M: "ParisSkyline-M";
  --font-family-XL: "ParisSkyline-XL";
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-green: #39ff14;
  --background-color: #fafafa;
}

@import url("responsive.css");
/* COMMON CSS */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font-family-M) !important;
  overflow-x: hidden;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: var(--font-family-M) !important;
  overflow: hidden;
  padding: 50px;
  box-sizing: border-box;
  transition: all 0.2s linear;
}
.fz10 {
  font-size: 10px;
}

.fz11 {
  font-size: 11px;
}

.fz12 {
  font-size: 12px;
}

.fz13 {
  font-size: 13px;
}

.fz14 {
  font-size: 14px;
}

.fz15 {
  font-size: 15px;
}

.fz16 {
  font-size: 16px;
}

.fz17 {
  font-size: 17px;
}

.fz18 {
  font-size: 18px;
}

.fz19 {
  font-size: 19px;
}

.fz20 {
  font-size: 20px;
}

.fz21 {
  font-size: 21px;
}

.fz22 {
  font-size: 22px;
}

.fz23 {
  font-size: 23px;
}

.fz24 {
  font-size: 24px;
}

.fz25 {
  font-size: 25px;
}

.fz26 {
  font-size: 26px;
}

.fz27 {
  font-size: 27px;
}

.fz28 {
  font-size: 28px;
}

.fz29 {
  font-size: 29px;
}

.fz30 {
  font-size: 30px;
}

.fz31 {
  font-size: 31px;
}

.fz32 {
  font-size: 32px;
}

.fz33 {
  font-size: 33px;
}

.fz34 {
  font-size: 34px;
}

.fz35 {
  font-size: 35px;
}

.fz36 {
  font-size: 36px;
}

.fz37 {
  font-size: 37px;
}

.fz38 {
  font-size: 38px;
}

.fz39 {
  font-size: 39px;
}

.fz40 {
  font-size: 40px;
}

.fz41 {
  font-size: 41px;
}

.fz42 {
  font-size: 42px;
}

.fz43 {
  font-size: 43px;
}

.fz44 {
  font-size: 44px;
}

.fz45 {
  font-size: 45px;
}

.fz46 {
  font-size: 46px;
}

.fz47 {
  font-size: 47px;
}

.fz48 {
  font-size: 48px;
}

.fz49 {
  font-size: 49px;
}

.fz50 {
  font-size: 50px;
}

.fz51 {
  font-size: 51px;
}

.fz52 {
  font-size: 52px;
}

.fz53 {
  font-size: 53px;
}

.fz54 {
  font-size: 54px;
}

.fz55 {
  font-size: 55px;
}

.fz56 {
  font-size: 56px;
}

.fz57 {
  font-size: 57px;
}

.fz58 {
  font-size: 58px;
}

.fz59 {
  font-size: 59px;
}

.fz60 {
  font-size: 60px;
}

.fz61 {
  font-size: 61px;
}

.fz62 {
  font-size: 62px;
}

.fz63 {
  font-size: 63px;
}

.fz64 {
  font-size: 64px;
}

.fz65 {
  font-size: 65px;
}

.fz66 {
  font-size: 66px;
}

.fz67 {
  font-size: 67px;
}

.fz68 {
  font-size: 68px;
}

.fz69 {
  font-size: 69px;
}

.fz70 {
  font-size: 70px;
}

.fz71 {
  font-size: 71px;
}

.fz72 {
  font-size: 72px;
}

.fz73 {
  font-size: 73px;
}

.fz74 {
  font-size: 74px;
}

.fz75 {
  font-size: 75px;
}

.fz76 {
  font-size: 76px;
}

.fz77 {
  font-size: 77px;
}

.fz78 {
  font-size: 78px;
}

.fz79 {
  font-size: 79px;
}

.fz80 {
  font-size: 80px;
}

.fz81 {
  font-size: 81px;
}

.fz82 {
  font-size: 82px;
}

.fz83 {
  font-size: 83px;
}

.fz84 {
  font-size: 84px;
}

.fz85 {
  font-size: 85px;
}

.fz86 {
  font-size: 86px;
}

.fz87 {
  font-size: 87px;
}

.fz88 {
  font-size: 88px;
}

.fz89 {
  font-size: 89px;
}

.fz90 {
  font-size: 90px;
}

.warpper {
  /*width: 91.5vw;
   height: 90vh; */
  width: 100%;
  height: 100%;
  background: var(--background-color);
  position: relative;
}
.warpper_dark {
  background: var(--color-dark);
}
.changeBorder .warpper {
  background: var(--color-dark);
}
.content_main {
  background: var(--background-color);
  padding: 70px 50px;
  overflow: hidden;
}

/* END COMMON CSS */

.custom_card_new {
  position: initial !important;
}
.size-full {
  max-width: 100%;
  height: auto;
}
.aligncenter {
  text-align: center;
}
